<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion au Club</title>
    <link rel="stylesheet" href="C:\Users\Huawei\Desktop\L3DSI2\Projet d'integration PI\PI2\StudentEvents\src\app\login-club\login-club.component.css">
</head>
<body>

  <div class="login-container">
    <h2>Espace Club</h2>
    <form [formGroup]="loginForm" (submit)="onSubmit()">

      <label for="clubname">Nom du club:</label>
      <input type="text" id="clubname" formControlName="clubname" required>
    
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" formControlName="password" required>
    
      <button type="submit">Se connecter</button>
    </form>
    

    <p   >Vous n'avez pas de compte ? <a style="cursor: pointer;"   >Créer un compte</a></p>
  </div>

</body>
</html>
